logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target

*.class

.target/views/course_list.scala.html

.target/IntegrationTest$1.class

.target/IntegrationTest.class

.target/controllers/CourseController.class

.target/controllers/forms/CourseAddForm.class

.target/controllers/forms/CourseEditForm.class

.target/controllers/forms/CourseEditForm.class

.target/models/Course.class

.target/models/entities/ECourse.class

.target/views/course_list.scala.html

.target/views/course_list.scala.html

.target/IntegrationTest$1.class

*.class

.target/IntegrationTest.class

.target/models/Course.class

.target/models/Course.class

.target/models/entities/ECourse.class

.target/models/entities/ECourse.class

.target/views/course_list.scala.html

.target/views/course_list.scala.html

.target/models/Course.class

.DS_Store

app/.DS_Store