@charset "UTF-8";
/* CSS Document */
.content {
	height: 540px;
}
.top {
	width: 960px;
	margin-left: 20px;
	float: left;
}
.top div {
	margin-bottom: 20px;
	clear: both;
}

.location span {
	color: #999;
}
.title {
	width: 110px;
	height: 22px;
	float: left;
}
.name {
	width: 550px;
	float: left;
	margin-right: 60px;
}
.credit {
	width: 70px;
	float: left;
}
.middle {
	width: 980px;
	margin-top: 20px;
	float: left;
}
.avil_list {
	width: 410px;
	height: 200px;
	border-style: solid;
	border-width: 1px;
	border-color: #bbb;
	margin-bottom: 10px;
	margin-top: 15px;
	padding-top: 10px;
	padding-left: 30px;
	color: #999;
	overflow: scroll;
}
.avil_list ul li span {
	margin-right: 50px;
	width: 50px;
	float: left
}
.avil_list ul li b {
	margin-right: 30px;
	width: 30px;
	float: left;
	font-weight: normal;
}
.avil_list button {
	color: #999;
}
.bottom {
	float: left;
	margin-top: 20px;
}
.bottom button {
	width: 80px;
}
.b_text {
	width: 500px;
	margin-right: 50px;
	margin-left: 30px;
}
.help_img {
	margin-left: 30px;
}
.req_list {
	width: 970px;
	height: 70px;
	margin-top: 15px;
	margin-left: 10px;
	float: left;
	overflow: none;
}
.req_list span {
	margin-left: 15px;
}
.req {
	border-width: 1px;
	border-style: solid;
	border-color: #BBB;
	padding-left: 10px;
	padding-right: 20px;
}
.semesters {
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.semesters label {
	margin-right: 15px;
}
