@charset "UTF-8";
/* CSS Document */
body {
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	font-family: sans-serif;/*Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;*/
	line-height: 150%;
	color: #575757;
}
a {
	color: #575757;
	text-decoration: none;
	cursor: pointer;
}
div {
	margin: 0 auto;
}
ul, li {
	margin: 0px;
	padding: 0px;
	float: left;
	list-style-type: none;
}
.nav_bar {
	height: 32px;
	border-bottom: 1px solid #D4DBE1;
	background-color: #c72727;
    color: #ffef30;
}
.block {
	width: 980px;
	height: inherit;
	overflow: none;
}
.degree_bar {
	height: 26px;
	margin-top: 6px;
}
.footer {
	clear: both;
	float: none;
	margin-top: 80px;
	padding-top: 20px;
	width: 980px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #BBB;
	text-align: center;
}
.footer span {
	color: #BBB;
	margin: 10px;
}
.float_left {
	float: left;
	margin-left: 5px;
}
.float_right {
	float: right;
}
.logo {
	margin-top: 20px;
	width: 980px;
	text-align: center;
	margin-bottom: 20px;
}
.content {
	width: 980px;
	margin-top: 20px;
}
.location {
	width: 600px;
	float: left;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #BBB;
}
.text {

	padding-left: 90px;
	padding-right: 30px;
}
.search_input {
	width: 270px;
}
.menu_bar {
	width: 980px;
	height: 34px;
}
.menu_bar ul {
	height: 30px;
	border-width: 2px;
	border-style: solid;
	border-color: #aaa;
}
.menu_bar ul li {
	float: left;
	height: 26px;
	width: 194px;
	text-align: center;
	padding-top: 4px;
	border-left-style: solid;
	border-width: 1px;
	border-color: #aaa;
}
.menu_bar ul li:hover {
	background-color: #DDD;
}
.active {
	background-color: #DDD;
}
.content_top {
	margin-bottom: 15px;
	height: 22px;
}
.page_bar {
	margin-top: 10px;
	height: 26px;
	float: right;
}
.page_bar span {
	width: 20px;
	float: left;
	height: 22px;
	background-color: #EEE;
	margin: 2px;
	text-align: center;
}
.dropdown {
	position: relative;
	top: 5px;
	left: -1px;
	z-index: 1000;
}
.dropdown ul {
	background-color: #FFF;
	height: 60px;
}
.dropdown ul li {
	float: none;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
}
.submit {
	text-align: center;
	width: 960px;
	float: left;
	margin-top: 30px;
	margin-bottom: 40px;
}


.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.button-submit {
	font-family: Helvetica;
	background: rgb(0, 0, 0);
	color: white;
}

div.tip {
    position : fixed;
    padding: 0px 0px 0px 5px; 
    border: #AAAAAA 1px solid; 
    background-color: #eaeaea
}
