@charset "UTF-8";
/* CSS Document */
.top {
	width: 960px;
	float: left;
	margin-left: 15px;
	margin-bottom: 20px;
}
.top input {
	margin-left: 15px;
	width: 300px;
}
.left span {
	margin-right: 10px;
	margin-left: 10px;
}
.r_list {
	width: 180px;
}
.left {
	width: 960px;
	height: auto;
	margin-bottom: 50px;
}
.left div {
	width: 960px;
	margin-left: 10px;
	height: auto;
}
.s_submit {
	text-align: center;
	margin-top: 25px;
	float: left;
}
.list_head a {
	float: right;
	margin-right: 15px;
}
.s_list {
	padding-left: 20px;
	padding-top: 10px;
	margin-top: 20px;
	width: 900px;
	border: solid 1px #bbb;
}
.s_list li {
	margin-bottom: 10px;
}
.s_list li span {
	width: 600px;
	float: left;
	border: solid 1px #bbb;
	padding-left: 10px;
}