@(courses: List[Course], cgAddForm: Form[controllers.forms.CgAddForm])

<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Course Group</title>
        <link href="/assets/stylesheets/global.css" rel="stylesheet" type="text/css">
        <link href="/assets/stylesheets/course_group.css" rel="stylesheet" type="text/css">
        <script src="/assets/javascripts/dropdown.js" type="text/javascript"></script>
        <script src="/assets/javascripts/course_group.js" type="text/javascript"></script>


        <script src="/assets/javascripts/jquery-1.9.0.min.js" type="text/javascript"></script>
        <script> 
			$(function(){
  				$("#header").load("header"); 
  				$("#footer").load("footer"); 
			});
		</script> 

        <script src="/assets/javascripts/check_form.js" type="text/javascript"></script>
    </head>

    <body>
        <div id="header"> </div>
        <!-- main content of the page -->
        <div class="content">
            <div class="location">
                <span><a href="cg_list">Course Group </a>-></span><span> New Course Group</span>
            </div>
			<form action="@routes.CgController.addCg()" method="post" onsubmit="return checkCgForm()">
            <div class="top">
                <div>
                    <span>Abbreviation:
                        <input type="text" name="prefix">
                    </span>
                    <span class="title">Title:
                        <input type="text" name="title">
                    </span>
                </div>
            </div>

            <div class="search">
                Search for Course:
                <input type="text" name="keyword">
                <button>
                    search
                </button>
            </div>

            <div class="course_list float_left">
                <ul>
                @for(course <- courses){
                    <li>
                        <input type="checkbox" name="courses" value="@course.getId()">
                        <span id="@course.getId()">@course.getPrefix() @course.getNumber() @course.getTitle()</span>
                    </li>
                    }
                    <!--<li>
                        <input type="checkbox" name="courses" value="CS 202">
                        <span>CS 202</span>
                    </li>
                    <li>
                        <input type="checkbox" name="courses" value="CS 303">
                        <span>CS 303</span>
                    </li>
                    <li>
                        <input type="checkbox" name="courses" value="CS 404">
                        <span>CS 404</span>
                    </li>-->
                </ul>
            </div>
            <div class="middle">
                <a href="javascript:add()">--></a>
                <br>
                <a href="javascript:remove()"><--</a>
            </div>
            <div class="course_list float_right">
                <ul id="selected">
                </ul>
            </div>
            <div class="submit">

                <input type="submit" value="SUBMIT" onclick="onCgSub(this.parentElement);"/>

            </div>
            </form>
        </div>
        <!-- end of main content -->
        <div id="footer"> </div>
    </body>
</html>
