
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Course Information</title>
        <link href="/assets/stylesheets/global.css" rel="stylesheet" type="text/css">
        <link href="/assets/stylesheets/course_info.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <!--最上面的导航栏-->
        <div class="nav_bar">
            <div class="block">
                <div class="degree_bar">
                    Username: &nbsp;&nbsp;&nbsp;Zheng Bohan &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; logout
                </div>
            </div>
        </div>
        <!--最上面的导航栏完了-->

        <!--网站logo S. S. MS -->
        <div class="logo"><img src="/assets/images/Screen Shot 2013-11-25 at 10.30.10 PM.png" width="960px;"/>
        </div>
        <!--网站logo完了-->

        <!--menu bar开始-->
        <div class="menu_bar">
            <ul>
                <li class="active">
                    Course
                </li>
                <li>
                    Course Group
                </li>
                <li>
                    Requirement
                </li>
                <li>
                    Degree Program
                </li>
                <li>
                    Help
                </li>
            </ul>
        </div>
        <!--menu bar结束-->

        <!--网页主体-->
       	<form action="@routes.CourseController.addCourse()" method="post">
		
        <div class="content">
            <!--课程号课程名学分-->
            <div class="top">

                <div class="location">
                    <span>course list -></span><span>Add new course</span>
                </div>

                <div>
                    <span class="title">Rrefix&amp;Number: </span>
                    <input type="text" name="prefix">
                    <span> - </span>
                    <input type="text" name="number">
                </div>
                <div>
                    <span class="title">Course Name: </span>
                    <input type="text" name="title" class="name">
                    <span class="credit">Credits: </span>
                    <input type="text" name="credit">
                </div>
            </div>

            <!--开课时间-->
            <div class="middle">
                <div class="float_left">
                    <div>
                        <span>When the course is avilable on campus: </span>
                        <br>
                        <select>
                            <option>Spring</option><option>Fall</option><option>Summer</option><option>Winter</option>
                        </select>
                        <select>
                            <option>2013</option><option>2014</option><option>2015</option><option>2016</option>
                        </select>
                        <button>
                            ADD
                        </button>
                    </div>
                    
                    <div class="avil_list float_left">
                    	<!--
                        <ul>
                            <li>
                                <b>1.</b><span>Spring</span><span>2013</span>
                                <button>
                                    Delete
                                </button>
                            </li>
                            <li>
                                <b>2.</b><span>Spring</span><span>2013</span>
                                <button>
                                    Delete
                                </button>
                            </li>
                            <li>
                                <b>3.</b><span>Spring</span><span>2013</span>
                                <button>
                                    Delete
                                </button>
                            </li>
                            <li>
                                <b>4.</b><span>Spring</span><span>2013</span>
                                <button>
                                    Delete
                                </button>
                            </li>
                            <li>
                                <b>5.</b><span>Spring</span><span>2013</span>
                                <button>
                                    Delete
                                </button>
                            </li>
                            <li>
                                <b>6.</b><span>Spring</span><span>2013</span>
                                <button>
                                    Delete
                                </button>
                            </li>
                            <li>
                                <b>7.</b><span>Spring</span><span>2013</span>
                                <button>
                                    Delete
                                </button>
                            </li>
                            <li>
                                <b>8.</b><span>Spring</span><span>2013</span>
                                <button>
                                    Delete
                                </button>
                            </li>
                            <li>
                                <b>9.</b><span>Spring</span><span>2013</span>
                                <button>
                                    Delete
                                </button>
                            </li>
                            <li>
                                <b>10.</b><span>Spring</span><span>2013</span>
                                <button>
                                    Delete
                                </button>
                            </li>
                            <li>
                                <b>11.</b><span>Spring</span><span>2013</span>
                                <button>
                                    Delete
                                </button>
                            </li>
                            <li>
                                <b>12.</b><span>Spring</span><span>2013</span>
                                <button>
                                    Delete
                                </button>
                            </li>
                        </ul>
                        -->
                    </div>
                    
                </div>
                <div class="float_right">
                    <div>
                        <span>When the course is avilable on campus: </span>
                        <br>
                        <select>
                            <option>Spring</option><option>Fall</option><option>Summer</option><option>Winter</option>
                        </select>
                        <select>
                            <option>2013</option><option>2014</option><option>2015</option><option>2016</option>
                        </select>
                        <button>
                            ADD
                        </button>
                    </div>
                    <div class="avil_list float_right">
                    	<!--
                        <ul>
                            <li>
                                <b>1.</b><span>Spring</span><span>2013</span>
                                <button>
                                    Delete
                                </button>
                            </li>
                            <li>
                                <b>2.</b><span>Spring</span><span>2013</span>
                                <button>
                                    Delete
                                </button>
                            </li>
                            <li>
                                <b>3.</b><span>Spring</span><span>2013</span>
                                <button>
                                    Delete
                                </button>
                            </li>
                        </ul>
                        -->
                    </div>
                </div>
            </div>
            <!--先行课-->
            <div class="bottom">
                <div>
                    <div class="float_left">
                        <span>The prerequisites of the course : </span>
                        <input type="text" name="prereq" class="b_text">
                        <button>
                            ADD
                        </button>
                    </div>
                    <div class="float_left help_img"><img src="???" height="22px">
                    </div>
                </div>

                <div class="req_list">
                    <div>
                        <span class="req">CS-115 OR CS-116</span><span>AND</span><span class="req">CS-117 OR CS-184</span>
                    </div>

                </div>
            </div>
            <!--并行课-->
            <div class="bottom">
                <div>
                    <div class="float_left">
                        <span>The corequisites of the course : </span>
                        <input type="text" name="coreq" class="b_text">
                        <button>
                            ADD
                        </button>
                    </div>
                    <div class="float_left help_img"><img src="???" height="22px">
                    </div>
                </div>
            </div>
            </div>
            <div align="center">
            	<input type="submit" value="save">
            </div>
			</form>
            <!--主体结束-->

            <div class="footer">
                <span>Students Scheduling System in Stevens Institute of Technology</span><span>Copy right: Team #10</span>
            </div>

    </body>
</html>
