@(degrees: List[Degree])

<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Degree Program</title>
<link href="/assets/stylesheets/global.css" rel="stylesheet" type="text/css">
        <link href="/assets/stylesheets/admin.css" rel="stylesheet" type="text/css">
        <script src="/assets/javascripts/dropdown.js" type="text/javascript"></script>
        <script src="/assets/javascripts/jquery-1.9.0.min.js" type="text/javascript"></script>
        <script> 
			$(function(){
  				$("#header").load("header"); 
  				$("#footer").load("footer"); 
			});
		</script>
</head>

    <body>
        <div id="header"> </div>
        <!--网页主体-->
        <div class="content">
            <!--添加按钮和搜索栏-->
            <div class="content_top">
                <a class="float_left" href="createDegree">Add New Degree Program</a>
            </div>
            <!--添加按钮和搜索栏完了-->

            <!--列表 每列是一个div-->
            <div class="list">
                <div class="list_row" style="background-color:#EEE;">
                    <ul>
                        <li style="width:760px">
                            Title
                        </li>
                       
                        <li style="width:200px">
                            Options
                        </li>
                    </ul>
                </div>
                @for(degree <- degrees) {
                <div class="list_row">
                    <ul>
                        <li style="width:760px">
                            @degree.getTitle()
                        </li>
                        
                        <li style="width:200px">
                            <form style="float:left" action="@routes.DegreeController.requestEditDegreePage(degree.getId())" method="post">
								<a href="javascript:{}" onclick="submit(this.parentElement);">edit</a>
							</form>
        					<span style="float:left">&nbsp;/&nbsp;</span> 
							<form style="float:left" action="@routes.DegreeController.deleteDegree(degree.getId())" method="post">
								<a href="javascript:{}" onclick="onDelConf(this.parentElement);">delete</a>
							</form>
                        </li>
                    </ul>
                </div>
                }
                <!--<div class="list_row"  style="background-color:#F8F8F8;">
                    <ul>
                        <li style="width:760px">
                            H1L02
                        </li>
                        
                        <li style="width:200px">
                            Edit / Delete
                        </li>
                    </ul>
                </div>
                <div class="list_row">
                    <ul>
                        <li style="width:760px">
                            H1L02
                        </li>
                        
                        <li style="width:200px">
                            Edit / Delete
                        </li>
                    </ul>
                </div>
                <div class="list_row"  style="background-color:#F8F8F8;">
                    <ul>
                        <li style="width:760px">
                            H1L02
                        </li>
                        
                        <li style="width:200px">
                            Edit / Delete
                        </li>
                    </ul>
                </div>-->
            </div>

            <!--列表结束-->
        </div>
        <!--主体完了-->
        <div id="footer"> </div>
    </body>
</html>
