@(requirements: List[Requirement], degreeAddForm: Form[controllers.forms.DegreeAddForm])

<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Degree Program</title>
        <link href="/assets/stylesheets/global.css" rel="stylesheet" type="text/css">
        <link href="/assets/stylesheets/course_group.css" rel="stylesheet" type="text/css">
        <script src="/assets/javascripts/dropdown.js" type="text/javascript"></script>


        <script src="/assets/javascripts/course_group.js"></script>
        <script src="/assets/javascripts/jquery-1.9.0.min.js" type="text/javascript"></script>
        <script> 
			$(function(){
  				$("#header").load("header"); 
  				$("#footer").load("footer"); 
			});
		</script>

        <script src="/assets/javascripts/check_form.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="header"> </div>
        <!-- main content of the page -->
        <div class="content">
            <div class="location">
                <span><a href="degree_list">Degree Program </a>-></span><span> New Degree Program</span>
            </div>
            <form action="@routes.DegreeController.addDegree()" method="post" onsubmit="return checkDegreeForm()">
                <div class="top">
                    <div>

                        <span>Title:
                            <input type="text" name="title" style="width:350px; margin-left:15px;">
                        </span>
                    </div>
                </div>

                <div class="course_list float_left">
                    <ul>
                        @for(requirement <- requirements) {
                        <li>
                            <input type="checkbox" name="courses" value="@requirement.getId()">
                            <span id="@requirement.getId()">@requirement.getTitle()</span>
                        </li>
                        }
                        <!--<li>
                        <input type="checkbox" name="courses" value="Requirement 2">
                        <span>Requirement 2</span>
                        </li>
                        <li>
                        <input type="checkbox" name="courses" value="Requirement 3">
                        <span>Requirement 3</span>
                        </li>
                        <li>
                        <input type="checkbox" name="courses" value="Requirement 4">
                        <span>Requirement 4</span>
                        </li>-->
                    </ul>
                </div>
                <div class="middle">
                    <a href="javascript:add()">--></a>
                    <br>
                    <a href="javascript:remove()"><--</a>
                </div>
                <div class="course_list float_right">
                    <ul id="selected">

                    </ul>
                </div>
                <div class="submit">

                    <input type="submit" value="SUBMIT" onclick="onDegreeSub(this.parentElement);"/>

                </div>
            </form>
        </div>
        <!-- end of main content -->
        <div id="footer"> </div>
    </body>
</html>
