
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Help</title>
        <link href="/assets/stylesheets/global.css" rel="stylesheet" type="text/css">
        <link href="/assets/stylesheets/course_group.css" rel="stylesheet" type="text/css">
        <script src="/assets/javascripts/dropdown.js" type="text/javascript"></script>
        <script src="/assets/javascripts/course_group.js" type="text/javascript"></script>
        <script src="/assets/javascripts/jquery-1.9.0.min.js" type="text/javascript"></script>
        <script> 
			$(function(){
  				$("#header").load("header"); 
  				$("#footer").load("footer"); 
			});
		</script> 
    </head>
    
    <body>
        <div id="header"> </div>

        <div align="center" style='margin-top: 50px; width: 980px'>
        	<h1>
        		How can I help you?
    		</h1>
    		<div style="width: 700px; margin-top: 50px">
				<p style="font-size: 20px; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: gray" align="left">
					I want info about <b>operational procedure</b>
				</p>
				<p align="left">
	    			This is my first time using the system, 
	    			<a style="color: blue" target="view_window" href="http://greenbay.usc.edu/csci577/fall2013/projects/team10/Development/Student%20Scheduling%20System%20TutorialV1.1.doc">please click here.</a>
	    		</p>
	    		<p align="left">
	    			If you have any problems with administrative operational procedure, 
	    			<a style="color: blue" target="view_window" href="http://greenbay.usc.edu/csci577/fall2013/projects/team10/Development/UM_IOC3_S14b_T10_V1.4.pdf">please click here.</a>
	    		</p>
	    		<p align="left">
	    			If you have any problems with student scheduling operational procedure, 
	    			<a style="color: blue" target="view_window" href="http://greenbay.usc.edu/csci577/fall2013/projects/team10/Development/UM_IOC3_S14b_T10_V1.4.pdf">please click here.</a>
	    		</p>
    			<img src="/assets/images/help.gif" align="center"/> 
    		</div>
    		
    		<div style="width: 700px; margin-top: 50px">
				<p style="font-size: 20px; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: gray" align="left">
					See here for assistance with <b>the most common questions</b>
				</p>
	    		<p align="left" >
	    			<b>Q: </b>What is the default user name and password for administrative system?
	    		</p>
	    		<p align="left" style="margin-bottom: 30px">
	    			<b>A: </b>The default user name is <b>'admin'</b>, the default password is <b>'admin'</b>.
	    		</p>
	    		
	    		<p align="left">
	    			<b>Q: </b>How many course relations are there?
	    		</p>
	    		<p align="left" style="margin-bottom: 30px">
	    			<b>A: </b>There are two typical course relations. One is <b>prerequisite</b>, the other is <b>corequisite</b> relation.
	    		</p>
	    		
	    		<p align="left">
	    			<b>Q: </b>What does that mean when course A has corequisite of course B?
	    		</p>
	    		<p align="left" style="margin-bottom: 30px">
	    			<b>A: </b>A Corequisite requires that one course be taken at the same time as another course.
	    		</p>
    			<img src="/assets/images/helpQA.jpg" align="center"/> 
    		</div>
        </div>

        <div id="footer"> </div>
    </body>
</html>

