@(srs: List[Sr], requirementAddForm: Form[controllers.forms.RequirementAddForm])

<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Requirement</title>
        <link href="/assets/stylesheets/global.css" rel="stylesheet" type="text/css">
        <link href="/assets/stylesheets/requirement.css" rel="stylesheet" type="text/css">
        <script src="/assets/javascripts/json.js" type="text/javascript"></script>
        <script src="/assets/javascripts/dropdown.js" type="text/javascript"></script>
        <script src="/assets/javascripts/add_s_req.js" type="text/javascript"></script>
        <script src="/assets/javascripts/jquery-1.9.0.min.js" type="text/javascript"></script>
        <script> 
			$(function(){
  				$("#header").load("header"); 
  				$("#footer").load("footer"); 
			});
		</script>
    </head>

    <body>
        <div id="header"> </div>
        <div class="content">
            <div class="location">
                <span><a href="requirement_list">Requirement </a>-></span><span> New Requrirement</span>
            </div>
            <form action="@routes.RequirementController.addRequirement()" method="post" onsubmit="doSubmit()">
                <div class="top">
                    <div>
                        <span>Title:
                            <input type="text" name="title" >
                        </span>
                    </div>
                </div>
                <div class="float_left left">
                    <span>Add simple requirement: </span>
                    <select class="r_list" id="s_req">
                        @for(sr <- srs) {
                        <option value="@sr.getId()">@sr.getTitle()</option>
                        }
                        <!--<option value="simple requirement 2">simple requirement 2</option>
                        <option value="simple requirement 3">simple requirement 3</option>
                        <option value="simple requirement 4">simple requirement 4</option>-->
                    </select>
                    <span onclick="addSimpleReq()">ADD</span>
                    <div>
                        <ul class="s_list" id="s_list">
                            <span onclick="doSubmit()"> List of Simple Requriement: </span>
                        </ul>
                    </div>
                    <div class="s_submit" id="s_submit">
                        <input type="submit" value="submit">
                    </div>
                </div>
                <!-- <div class="right float_right">
                <div class="list_head">
                Courses in (Course Group 1) <a>Edit</a>
                </div>
                </div> -->
            </form>
        </div>

        <div id="footer"> </div>
    </body>
</html>
