@(cgs: List[Cg], sr: Sr, srEditorm: Form[controllers.forms.SrEditForm])

<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Simple Requirement</title>
		<link href="/assets/stylesheets/global.css" rel="stylesheet" type="text/css">
		<link href="/assets/stylesheets/s_requirement.css" rel="stylesheet" type="text/css">
		<script src="/assets/javascripts/dropdown.js" type="text/javascript"></script>
        <script src="/assets/javascripts/jquery-1.9.0.min.js" type="text/javascript"></script>
        <script src="/assets/javascripts/aysnshowcourse.js" type="text/javascript"></script>
		<script> 
			$(function(){
  				$("#header").load("header"); 
  				$("#footer").load("footer"); 
			});
		</script>
        <script src="/assets/javascripts/check_form.js" type="text/javascript"></script>
</head>
<body onload="init(@sr.getCg_id())">
<div id="header"> </div>
        
        <!--main content of the page-->
        <div class="content">
        	<div class="location">
                <span><a href="sr_list">Simple Requirement </a>-></span><span> @sr.getTitle()</span>
            </div>
            <form action="@routes.SrController.updateSr(sr.getId())" method="post">
           <div class="top">
                <div>
                    <span>Title:
                        <input type="text" name="title" value="@sr.getTitle()">
                    </span> 
                </div>
            </div>
            <div class="float_left left">
            <form>
            	<span>Please choose a course group: </span>
              	 <select name="cg_id" id="changeCg" onchange='change()'>
                            <option value="">(Please choose course group)</option>
                            @for( cg <- cgs) {
                            <option value="@cg.getId()">@cg.getPrefix()</option>
                            }
                            <!--<option>course group 2</option>
                            <option>course group 3</option>  -->
                        </select>
              	<input type="text" name="required_num" value="@sr.getRequired_num()">
              	<span> Courses are required in this group.</span>
              	<span class="s_submit"><input type="submit" value="submit"></span>
            </form>
            </div>
            <div class="right float_right">
                    <div class="list_head">
                        <h3>Courses in the course group</h3>
                    </div>
                    <ul id="courseingroup" class="courseingroup">
                        
                    </ul>
                </div>
            </form>
        </div>
        <!--end of main content-->
        <div id="footer"> </div>
</body>
</html>
