@(degree : Degree, jsonData : String)
@import models.Requirement;
@import models.Cg;
@import models.Course;
@import models.Degree;
@import models.Requirement;
@import models.Sr;

@import org.json.JSONArray;
@import org.json.JSONObject;
@import java.util.List;
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
    
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>course</title>
        <meta name="author" content="Bohan Zheng" />
        <link href="/assets/stylesheets/global.css" rel="stylesheet" type="text/css">
        <link href="/assets/stylesheets/course.css" rel="stylesheet" type="text/css">
        <script src="/assets/javascripts/jquery-1.9.0.min.js" type="text/javascript"></script>
        <link href="/assets/stylesheets/pure-min.css" type="text/css" rel="stylesheet"/>
        <link href="/assets/stylesheets/font-awesome-4.0.3/css/font-awesome.css" type="text/css" rel="stylesheet"/>
        <script src="/assets/javascripts/action.js"></script>
        <style>       
            menu, ol, ul {
                padding: 0;
            }
        </style>
        <!-- Date: 2014-02-21 -->
    </head>
    <body>
        <div class="nav_bar" >
            <div class="block">
                <div class="degree_bar">
                    Degree: @degree.getTitle()
                </div>
            </div>
        </div>
        <!-- end of top bar-->
        <!-- step bar -->
        <div class="step" >
            
            <ul style="padding-left: 0px;">
                <li class="active">
                    STEP 1 : Choosing Courses
                </li>
                <li>
                    <a>STEP 2 : Scheduling Courses</a>
                </li>
                <li>
                    <a>STEP 3 : Getting Study Plan</a>
                </li>
            </ul>
        </div>
        <!-- end of step bar -->
        <div id="helpPanelLeft" style="margin-left : 5px;" class="tip">
            <a onclick="javascript:{this.parentElement.style.display = 'none';}"><i class="fa fa-times"></i></a>
            <h2 style="text-align : center; color : green; ">How to use</h2>
            <b>1. </b>Expand requirement list to pick up courses into course bin
            <br/><b>2. </b>To remove the course from course bin, click <i class="fa fa-times-circle"></i> button at right side of the course bin
            <br/><b>3. </b>Click "AUTO FILL COURSES" button to ask the system to help you choose required courses
            <br/><b>4. </b>Click "NEXT STEP" button after "AUTO FILL COURSES"</p>
        </div>
        <div class="content">
            <div class="left float_left">
                <div class="head">
                    COURSE BIN
                </div>
                <div class="left_list">
                    <span onclick="getLikeCourses()">Want to take: </span>
                    <ul id="wantTake" style="border-bottom: dotted 1px #AAAAAA; padding-left: 0px;">
                    	
                    </ul>
                </div>
                <div class="left_list">
                    <span onclick="getTakenCourses()">Already taken: </span>
                    <ul id="alreadyTaken" style="padding-left: 0px;">
                    	
                    </ul>
                </div>
                <div>
                	<form action="@routes.StudyPlanController2.assignSemester()" method="post" id="acForm">
                		<input type="hidden" value="" name="">
                    	<a class="button left_auto pure-button pure-button-primary" id="auto_next_course_button" onclick='auto_next_course_action(this.parentElement)'>AUTO FILL COURSES</a>
                	</form>
                </div>
            </div>
            <div class="right float_right">
                <ul class="req_list" style="padding-left: 0px;">
                	@{var cont : Html = Html("");
                		for(reqId <- degree.getReq_ids()){
                		var req : Requirement = Requirement.findById(Integer.parseInt(reqId));
                		
                    cont += Html("<li id='req_"+ req.getId() +"'>");
                        cont += Html("<div class=\"req_title\" style=\"display: block;\">");
                        	cont += Html(req.getTitle());
                            cont += Html(" <a onclick=\"dropDown('req_" + req.getId() +"')\"><i class='fa fa-chevron-circle-down'></i></a>");
                        cont += Html("</div>");
                        cont += Html("<div class=\"right_list\" style=\"display: none;\">");
                            cont += Html("<div class=\"req_title\">");
                            	cont += Html(req.getTitle());
                                cont += Html(" <a onclick=\"dropDown('req_"+ req.getId() +"')\"><i class='fa fa-chevron-circle-up'></i></a>");
                            cont += Html("</div>");
                          	var srReqs : JSONArray = new JSONArray(req.getSr_ids());
                          	if(srReqs.length() > 1)
                          	{
                          		if(srReqs.get(2).asInstanceOf[JSONObject].get("relation").equals("or"))
                          			cont += Html("<span>You must take courses in one of options listed below</span>");
                          		else
                          			cont += Html("<span>You must take courses all of options listed below</span>");
                          	}
                            cont += Html("<div>");
                            	
                            	for(i <- 0 to srReqs.length()-1)
                            	{
                            	var srReqObject : JSONObject = srReqs.get(i).asInstanceOf[JSONObject];
								var srId : String = srReqObject.get("id").asInstanceOf[String];
								var sr : Sr = Sr.findById(new Integer(srId));
								var cgId : Integer = sr.getCg_id();
								var reqNum : Integer = sr.getRequired_num();
								var cg : Cg = Cg.findById(cgId);
                                cont += Html("<ul class=\"req_course_list\" style='padding-left: 0px;' id=\"sr_" + srId + "\">");
                                	cont += Html(Sr.findById(Integer.parseInt(srId)).getTitle());
                                	cont += Html("<div><i>You must take "+reqNum+" courses listed below.</i></div>");
                                	for(courseId <- cg.getCourse_ids()){
                                    cont += Html("<li class=\"c" + courseId + "\">");
                                    	var course : Course = Course.findById(Integer.parseInt(courseId));
                                    	cont += Html(course.getPrefix() + course.getNumber + " - " + course.getTitle());
                                        cont += Html("<a onclick='addTakenCourse(" + course.getId() +",this)'><i class='fa fa-check-square'></i></a><a class='likebutton' onclick='addLikeCourse(" + course.getId() +",this)'><i class='fa fa-plus-square'></i></a>");
                                    cont += Html("</li>");
                                    }
                                    //cont += Html("<li>");
                                    //    cont += Html("CS 572 - Web Search Engine and Information Retrival<a onclick='addTakenCourse(2)'>&otimes;</a><a onclick='addLikeCourse(2)'>&oplus;</a>");
                                    //cont += Html("</li>");
                                cont += Html("</ul>");
                                }
                                //cont += Html("<a class=\"auto button\">AUTO</a>");
                            cont += Html("</div>");
                        cont += Html("</div>");
                    cont += Html("</li>");
                    }
                    cont;
                   }
                    <!--
                    <li>
                        <div class="req_title">
                            Required Computer Science Courses <a>&oplus;</a>
                        </div>
                        <div class="right_list"></div>
                    </li>
                    <li>
                        <div class="req_title">
                            Required Computer Science Courses <a>&oplus;</a>
                        </div>
                        <div class="right_list"></div>
                    </li>
                    <li>
                        <div class="req_title">
                            Required Computer Science Courses <a>&oplus;</a>
                        </div>
                        <div class="right_list"></div>
                    </li>
                    <li>
                        <div class="req_title">
                            Required Computer Science Courses <a>&oplus;</a>
                        </div>
                        <div class="right_list"></div>
                    </li>
                    <li>
                        <div class="req_title">
                            Required Computer Science Courses <a>&oplus;</a>
                        </div>
                        <div class="right_list"></div>
                    </li>
                    -->
                </ul>
        
                <div id="helpPanelRight" style="margin-left: 560px; " class="tip">
                    <a onclick="javascript:{this.parentElement.style.display = 'none';}"><i class="fa fa-times"></i></a>
                    <h2 style="text-align : center; color : green;">How to use</h2>
                    <p><b>1. </b> Select desired courses by clicking <i class="fa fa-plus-square"></i> button</p>
                    <p><b>2. </b> Select previous passed courses by clicking <i class="fa fa-check-square"></i> button</p>
                    <p></p>
                </div>
            </div>
        </div>
        <!-- <div id="helpPanelRight" style="position : fixed; float: right;">
            <h2 style="text-align : center; color : green;">How to use</h2>
            <p><b>1. </b> Pick your desired courses into "Want to take" course bin</p>
            <p><b>2. </b> Pick your previous passed courses into "Already taken" course bin</p>
            <p><b>3. </b> Undo above operation by clicking &otimes; button at right hand side of the course bin</p>
            <p></p>
        </div> -->
        <div class="footer">
            
            <span>Student Scheduling System for Stevens Institute of Technology</span>
            <br>
            <span>Copy right: Team #10</span>
        </div>
        <div id="jsonData" style="display: none;">@jsonData</div>
    </body>
</html>

