@import java.util.ArrayList;
@import java.util.HashMap;
@import play.api.mvc.Results._
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Study Plan</title>
        <meta name="author" content="Bohan Zheng" />
        <link href="/assets/stylesheets/index.css" type="text/css" rel="stylesheet"/>
        <link href="/assets/stylesheets/global.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
    	<div class="logo"><img src="/assets/images/biglogo.png" width="731px;"/></div>
    	<div class="content">
    		<h2>Study Plan</h2>
    		@{
    			
 				var output : Html = Html("");
    			
    			if(!StudyPlanPoolController.isStudyPlanExists())
    			{
    				output += Html("Session Cleared. Click <a href='index'><font color='blue'>HERE</font></a> to make a new study plan.");
    			}
    			else
    			{
    				<!-- var uuid : String = session().get("uuid"); 
    				var studyplan : StudyPlan = StudyPlanController2.studyPlanPool.get(uuid); -->
    				var studyplan : StudyPlan = StudyPlanPoolController.getStudyPlan();
    				var result : HashMap[Integer, ArrayList[Integer]] = studyplan.studyplanResult;
    				for(key <- result.keySet()){
						var courseInSameSemester : ArrayList[Integer] = result.get(key);
						output += Html("<h3>Semester "+ String.valueOf(key)+"</h3><br/>");
						for(courseId <- courseInSameSemester){
							var course : Course = Course.findById(courseId);
							output += Html(course.getPrefix() + course.getNumber + " " + course.getTitle() + "<br/>");
						}
		    			output += Html("<br/>");
					}
					<!-- studyplan = null;
					StudyPlanController2.studyPlanPool.remove(uuid);
					session().clear(); -->
					StudyPlanPoolController.removeStudyPlan();
					output += Html("Click <a href='index'><font color='blue'>HERE</font></a> to make a new study plan.");
				}
				output; 
    		}
    	</div>
    </body>
</html>